<% if session[:isadmin] == true %>
  <h2>Admin Page</h2>
   <h3> Welcome!!!</h3>
  <%= link_to "See Users",:controller => 'users', :action => 'index'%>
  &nbsp; &nbsp; &nbsp;
  <%= link_to "Manage Posts",:controller => 'posts', :action => 'index'%>
    &nbsp; &nbsp; &nbsp;
  <%= link_to "Delete Comment",:controller => 'comments', :action => 'index'%>
    &nbsp; &nbsp; &nbsp;
  <%= link_to "Create Category",:controller => 'categories', :action => 'new'%>
    &nbsp; &nbsp; &nbsp;
  <%= link_to "Delete Category",:controller => 'categories', :action => 'index'%>
    &nbsp; &nbsp; &nbsp;
  <%= link_to "Reports", '/admin/reports'%>

  <%else%>
    <h1>Sorry you are not administrator!</h1>
    <h2>Please log in <%= link_to "here" ,:controller=> 'logins',:action=> 'new'%> </h2>
<%end%>

