
  <h2>Admin Page</h2>
   <h3> Welcome!!!</h3>
  <%= link_to "See Users",:controller => 'users', :action => 'index'%>
  <%= link_to "Make Admin",:controller => 'users', :action => 'index' %>
  <%= link_to "Revoke Admin",:controller => 'users' , :action => 'index' %>
  <%= link_to "Delete User",:controller => 'users' ,:action => 'index' %>
  <%= link_to "Delete Post",:controller => 'posts' , :action => 'index' %>
  <%= link_to "Delete Comment",:controller => 'comments', :action => 'index'%>
  <%= link_to "Create Category",:controller => 'categories', :action => 'new'%>
  <%= link_to "Delete Category",:controller => 'categories', :action => 'index'%>
  <%= link_to "Create Category",:controller => 'categories', :action => 'new'%>



