<%if session[:user_id]!=nil%>
<h1>Reports</h1>
<table border=1 style="background-color: #7fffd4;">

  <%if @users%>
      <tr>
        <th>User</th>
        <th>Posts</th>
        <th>Comments</th>
        <th>Total Votes received Posts</th>
        <th>Total Votes received Comments</th>
        <th>Total Votes</th>
      </tr>
      <% @numPosts=0;@numComments=0;@numVotes=0;%>
      <% @users.each do |user| %>
          <% @numVotesOnPosts = 0; @numVotesOnComments = 0; %>
          <% @posts = User.find(user.id).posts%>
          <% @numPosts = @posts.size %>

          <% @posts.each do |post| %>
              <%@numVotesOnPosts = Integer(@numVotesOnPosts) + Integer(post.num_votes)   %>
          <%end%>

          <% @comments = User.find(user.id).comments%>
          <% @numComments = @comments.size %>

          <% @comments.each do |comment| %>
              <%@numVotesOnComments = Integer(@numVotesOnComments) + Integer(comment.num_votes)   %>
          <%end%>

          <% @numVotes = Integer(@numVotesOnPosts) + Integer(@numVotesOnComments)  %>
          <tr>
            <td><%= user.username %></td>
           <td><%= @numPosts %></td>
            <td><%= @numComments %></td>
            <td><%= @numVotesOnPosts %></td>
            <td><%= @numVotesOnComments %></td>
            <td><%= @numVotes %></td>
          </tr>
      <% end %>
   <%end%>
</table>


<br>
<%else%>

    <h2>Please log in <%= link_to "here", :controller => 'logins', :action=>'new' %></h2>
<%end%>