<h1>Listing comments</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.content %></td>
    <td><%= comment.num_votes %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><a href=<%="/voteforcomment/incrementVote?comment_id_for_vote=" + comment.id.to_s%>>Vote</a></td>
  </tr>
<% end %>
</table>
<br />

<% if flash[:alert] %>
    <div  style='font-color:#CC0000;font-weight:bold;'>
      <%= flash[:alert] %>
    </div>
<% end %>

<%= link_to 'New Comment', new_comment_path %>
