<h1>New login</h1>

<div class="container">
  <div class="main">
    <fieldset>
      <legend>
         Log In To Backchannel
      </legend>

      <%= form_tag  '/loginUser', :method => :post%>
          <p>
            <label for="username">
              Username:
            </label>
            <%= text_field_tag :username, params[:username],:class=>"myinputs" %>
          </p>
          <p>
            <label for="original_password">
              Password:
            </label>
            <%= password_field_tag :original_password, params[:original_password],:class=>"myinputs" %>
          </p>

      <br>
      <div class="actions">
            <%= submit_tag "Login",:class=>"styled-button"%>
            &nbsp;&nbsp;&nbsp;New user?<%= link_to "Sign up" ,:controller=>'users',:action=>'new' %>
      </div>

      <%=  %>

      <% if flash[:alert] %>
          <div  style='font-color:#CC0000;font-weight:bold;'>
            <%= flash[:alert] %>
          </div>
      <% end %>
    </fieldset>
  </div>
</div>


