
<% if flash[:notice] %>
    <div  style='font-color:#CC0000;font-weight:bold; font-size: 14px;'>
      <%= flash[:notice] %>
    </div>
<% end %>

<br>

  <!--<h4>Questions</h4>    -->
  <table style="width: 100%">

    <% @posts.each do |post| %>
        <tr style="background-color: #7fffd4;">
          <td>
            <p class="title"> <b>Title</b> <%= post.title %>    </p>
            <p class="content"> <b>Content</b> <%= post.content %>    </p>
            <p class="category"> <b>Category</b> <%= Category.find(post.Category_id).name %>
            </p>
            <% if session[:admin] !=false || session[:user_id].username == post.user.username %>

                <%= link_to 'Show', post %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
            <% end %>
          </td>
        </tr>
        <hr/>
    <% end %>
  </table>

  <br/>
    <% if session[:user_id] == nil %>
        <h2>Not logged in? <%= link_to "Login", :controller => 'logins', :action=>'new' %></h2>
        <br>

<% else%>
  <h3><%= link_to 'Post a Question', new_post_path %>     </h3>

    <br>
<%end%>
