<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>


<p>
  <b>First Name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.first_name %>
</p>

<%= link_to 'Proceed to Posts',:controller=>'posts',:action=>'index'%>
