<h1>Editing post</h1>

<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_field :content %>
    </div>
    <div class= "field">
      <%= f.label :category %>
      <%= select("post", "Category_id", Category.all.collect{ |c| [ c.name, c.id] }) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
