<% if session[:user_id] != nil %>
    <h3><%= link_to 'Post a Question', :controller => "posts", :action => "new" %>   </h3>
    <div>
      <% if flash[:alert] %>
          <div  style="font-weight:bold;color: #cc0000;">
            <%= flash[:alert] %>
          </div>
      <% end %>
    <h1>A Brief Listing of Posts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="position:absolute;right: 15px;"> Welcome,
      <% if session[:user_id] %>
          <%=session[:user_id].username%>!
      <%end%>
    </span></h1>
      </div>



<%  def checkDisplayComment(comment_id,loggedin_user_id)
      @votes = CommentVote.all

      @votes.each do |vote|
        if  vote.User_id and  vote.Comment_id
          if vote.User_id.to_s == loggedin_user_id.to_s and vote.Comment_id.to_s == comment_id.to_s
            return true
          end
        end
      end
      return false
    end

    def checkDisplayPost(post_id,loggedin_user_id)
      @votes = Vote.all

      @votes.each do |vote|
        if  vote.User_id and  vote.Post_id
          if vote.User_id.to_s == loggedin_user_id.to_s and vote.Post_id.to_s == post_id.to_s
            return true
          end
        end
      end
      return false
    end
%>

<% @posts.each do |post| %>

      <% @commentsForPost = Comment.find_all_by_Post_id(post.id)%>

          <div style="background-color: #00bfff;font-size:15px;">
            <b><%= post.title %>  </b>
            <td><%= link_to 'Show', post %></td>
            <% if session[:user_id].id ==post.User_id %>
            &nbsp;&nbsp;&nbsp;<td><%= link_to 'Edit', edit_post_path(post) %></td>
                <%end%>
            <% if session[:isadmin] ==true or session[:user_id].id ==post.User_id %>

                &nbsp;&nbsp;&nbsp;<td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
            &nbsp;&nbsp;&nbsp;<a href=<%="/commentsforpost/new?post_id_passed=" + post.id.to_s%>>Comment</a>
            &nbsp;&nbsp;&nbsp;<a href=<%="/voteforpost/incrementVote?post_id_for_vote=" + post.id.to_s%>>Vote</a>
            <% if checkDisplayPost(post.id,session[:user_id].id) == true %>
                <% if Integer(post.num_votes) -1 == 0 %>
                    &nbsp;&nbsp;&nbsp; You and <%= Integer(post.num_votes) -1  %>  other people voted.
                <%else%>
                    &nbsp;&nbsp;&nbsp; You and <a href=<%='/whovotedpost?post_id_voted=' + post.id.to_s %>><%= Integer(post.num_votes) -1  %></a>  other people voted.
                <% end %>
            <%else %>
                <% if Integer(post.num_votes) == 0 %>
                    &nbsp;&nbsp;&nbsp;  <%= Integer(post.num_votes)  %>  people voted.
                <% else  %>
                    &nbsp;&nbsp;&nbsp;  <a href=<%='/whovotedpost?post_id_voted=' + post.id.to_s %>><%= Integer(post.num_votes)  %></a>  people voted.
                <%end%>
             <%end%>
          </div>
          <div style="background-color: #bbffbb;">
            <%= post.content %>
              <br>
            <b>Author:</b><%= User.find(post.User_id).username %>
          </div>
        <div style="background-color: #7fffd4;">
           <b>Comments:</b>  <br>
           <% @commentsForPost.each do |comment| %>
              <%=comment.content%>
              &nbsp;&nbsp;&nbsp;Posted by:<%=User.find(comment.User_id).username%>
              <% if session[:user_id].id ==comment.User_id %>
                   &nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_comment_path(comment) %>
                  <%end%>
              <% if session[:isadmin] ==true or session[:user_id].id ==comment.User_id %>

                  &nbsp;&nbsp;&nbsp;<%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%end%>

              &nbsp;&nbsp;&nbsp;<a href=<%="/voteforcomment/incrementVote?comment_id_for_vote=" + comment.id.to_s%>>Vote</a>
              <% if checkDisplayComment(comment.id,session[:user_id].id) == true %>
                  <% if Integer(comment.num_votes) -1 == 0 %>
                    &nbsp;&nbsp;&nbsp; You and <%= Integer(comment.num_votes) -1  %> other people voted.
                  <%else%>
                    &nbsp;&nbsp;&nbsp; You and  <a href=<%='/whovotedcomment?post_id_voted=' + post.id.to_s%>><%= Integer(comment.num_votes) -1  %></a> other people voted.
                  <%end%>
              <%else %>
                  <% if Integer(comment.num_votes) == 0 %>
                    &nbsp;&nbsp;&nbsp; <%= Integer(comment.num_votes)  %>  people voted.
                  <%else%>
                      &nbsp;&nbsp;&nbsp;  <a href=<%='/whovotedcomment?post_id_voted=' + post.id.to_s%>><%= Integer(comment.num_votes)  %></a>  people voted.
                  <%end%>
              <%end%>
            <br>
           <%end%>
          </div>
        <div style="background-color:  #00bfff;">
        <span style="background-color: #dc143c; color: #ffffff; border-radius:30px;">#<%= Category.find(post.Category_id).name %> </span>
        </div>
    <hr/>


<% end %>
<br />






<%end%>

    <%if session[:user_id].nil?  %>
        <h2>Please log in <%= link_to "here", :controller => 'logins', :action=>'new' %></h2>
    <%end%>

