<% if session[:user_id] != nil %>
    <%= link_to 'Post a Question', new_post_path %>
    &nbsp; &nbsp;
    <%= link_to 'See all posts', :controller => "posts", :action => "index" %>
<%else%>
    <h2>Not logged in? <%= link_to "here", :controller => 'logins', :action=>'new' %></h2>
<%end%>  <br>
<% if flash[:notice] %>
    <div  style='font-color:#CC0000;font-weight:bold;'>
      <%= flash[:notice] %>
    </div>
<% end %>


<br xmlns="http://www.w3.org/1999/html">

<!--<h4>Questions</h4> -->
<table style="width: 100%">

  <% @posts.each do |post| %>
      <tr style="background-color: #7fffd4;">
        <td>
          <p class="title"> <b>Title</b> <%= post.title %>         </p>
          <p class="content"> <b>Content</b> <%= post.content %>       </p>
          <p class="category"> <b>Category</b> <%= Category.find(post.Category_id).name %></p>


        </td>
      </tr>
  <% end %>
</table>


<br/>
