<% if session[:user_id] != nil %>
    <%= link_to 'Post a Question', new_post_path %>
<%else%>
    <h2>Please log in <%= link_to "here", :controller => 'logins', :action=>'new' %></h2>
<%end%>  <br>
<% if flash[:alert] %>
    <div  style='font-color:#CC0000;font-weight:bold;'>
      <%= flash[:alert] %>
    </div>
<% end %>


<br xmlns="http://www.w3.org/1999/html">

<h4>Questions</h4>
<table style="width: 100%">

  <% @posts.each do |post| %>
      <tr style="background-color: #7fffd4;">
        <td>
          <p class="title"> <b>Title</b> <%= post.title %>
          <p class="content"> <b>Content</b> <%= post.content %>
          <p class="category"> <b>Category</b> <%= Category.find(post.Category_id).name %>
          </p>          </p>             </p>
          <% if session[:admin] !=false || session[:user_id].user_name == post.user.user_name %>

              <%= link_to 'Show', post %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
          <% end %>
        </td>
      </tr>  <hr/>
  <% end %>
</table>


<br/>
