<% if session[:user_id] == nil %>
    <h2>Not logged in? <%= link_to "Login", :controller => 'logins', :action=>'new' %></h2>
    <br>
    <%else%>
    <%= link_to 'Post a Question', new_post_path %>
<% end %>  <br>
<% if flash[:notice] %>
    <div  style='font-color:#CC0000;font-weight:bold; font-size: 14px;'>
      <%= flash[:notice] %>
    </div>
<% end %>

<br>

<table style="width: 100%">

  <% @posts.each do |post| %>
      <% @commentsForPost = Comment.find_all_by_Post_id(post.id)%>
      <tr style="background-color: #7fffd4;">
        <td>
          <p class="title"> <b>Title:</b> <b><%= post.title %> </b>
          &nbsp;&nbsp;&nbsp;<b><%= Integer(post.num_votes)  %></b> vote(s) received.</p>
          <p class="content"> <b>Content:</b> <%= post.content %>    </p>
          <p class="title" > <b>Author:</b>  <%= User.find(post.User_id).username %>   </p>
          <div style="background-color: #7fffd4;">
            <b>Comments (if any) :</b>  <br>
            <% @commentsForPost.each do |comment| %>
                <%=comment.content%>
                &nbsp;&nbsp;&nbsp;&nbsp;<b>Posted by: </b><%=User.find(comment.User_id).username%>
                &nbsp;&nbsp;&nbsp;&nbsp;<b><%= Integer(comment.num_votes)  %></b> vote(s) received.
            <%end%>
          </div>
          <p>
            <span style="background-color: #dc143c; color: #ffffff;">#<%= Category.find(post.Category_id).name %> </span>
          </p>

        </td>
      </tr>
  <% end %>
</table>


<br/>
