<!DOCTYPE html>
<html>
<head>
  <title>Backchannel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div id="banner">
              <%= image_tag("rails.png")     %>
              <h1>BackChannel App</h1>
      </div>
      <div id="search">
        <div>
          <span> Search by user or post:</span>  <br/>  <br/>
          <form action="/users/search" method="get" id="search_form">
            <input id="search_input" class="searchBox" type="text" name="input"/>
            <input type="submit" id="user" class="searchButton" name="usearch" value="User"/>
          </form>
          <form action="/posts/search" method="get" id="search_form1">
            <input id="search_input1" class="searchBox" type="text" name="input"/>
            <input type="submit" id="post" class="searchButton" name="psearch" value="Post"/>
          </form>
          <form action="/categories/search" method="get" id="search_form2">
            <input id="search_input2" class="searchBox" type="text" name="input"/>
            <input type="submit" id="category" class="searchButton" name="csearch" value="Category"/>
          </form>
        </div>
        <br/>
      </div>
      <br/><br/>

      <div id="columns">
      <div id="side">
           <a href="/posts">Home</a>  <br>
        <% if session[:user_id] %>
            <div  style='font-color:#CC0000;font-weight:bold;'>
              <a href="/logout">Logout</a>
            </div>
        <% end %>
        <br>
      </div>
      <div id="main">
            <%= yield :layout%>
      </div>
      </div>
</body>
</html>
