<!DOCTYPE html>
<html>
<head>
  <title>Backchannel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div id="banner">
        <span>
              <%= image_tag("rails.png")%>
              <h1>Backchannel Application</h1>
        </span>

        <span id="search" style='font-size:20px;position: absolute;right: 20px;top:30px; padding: 10px;border:2px solid #79B7E7;border-color: #000000;'>

              Search by user/post/category:  <br/>
            <form action="/users/search" method="get" id="search_form">
              <input id="search_input" class="myinputs" type="text" name="input"/>
              <input type="submit" id="user" class="styled-button" name="usearch" value="user"/>
              <input type="submit" id="post" class="styled-button" name="psearch" value="post" formaction="/posts/search"/>
              <input type="submit" id="category" class="styled-button" name="csearch" value="Category" formaction="/categories/search"/>
            </form>
         </span>
      </div>
      <div id="columns">
      <div id="side">

           <% if session[:user_id] %>
                <a href="/posts">Home</a>  <br>
                <a href="/logout">Logout</a>
           <% end %>
      </div>
      <div id="main">
            <%= yield :layout%>
      </div>
      </div>
</body>
</html>
